.btn-post{
    color: #e0e8f0 !important;
    background-color: #00293c !important;
}

.user-blogs{
    border-top: 1px solid grey;
    padding-top: 20px;
}

.last-row{
    padding-bottom: 20px;
}
.navDropdown{
    color:#e0e8f0;
}