.text-muted{
    text-align: center;
}

.card-title{
    text-align: center;
}

.placecard h2{
    text-align: center;
}

.placecard h7{
    text-align: center;
     font-weight: bolder;
}



.card-rating{
    margin-left: 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight:bolder ;
}